
  <section id="section4" class="cd-section">
      <div class="container">
        <div class="row">
         <div class="col-md-12">
          <h1>Login</h1>
              <div class="box-content contact">
                  <form (ngSubmit)="signin()" id="contact_form" class="form email-form" #loginForm="ngForm" autocomplete="off">
                    <div class="col-md-6 col-md-offset-3">
                      <input type="text" [(ngModel)]="login.userName" name="subject" id="subject" class="input-contact"  placeholder="Username" required/>
                      <input type="password" [(ngModel)]="login.password" name="name" id="name" class="input-contact"  placeholder="Password"required/>
                      <hr/>
                      <div class="text-center">
                        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-default btn-lg">Login</button>
                       </div>
                    </div>
                  </form>
          </div>
        </div>
        <p class="text-center">No Account yet?
            <span>
              <a (click)="goToRegister()">Regisister</a>
            </span>
          </p>
    </div>
   
       
    </div>
  </section><!-- cd-section -->