<section id="section4" class="cd-section">
        <div class="container">
          <div class="row">
           <div class="col-md-12">
            <h1>Register</h1>
                <div class="box-content contact">
                    <form (ngSubmit)="signUp()" id="contact_form" class="form email-form" #registerForm="ngForm" autocomplete="off">
                      <div class="col-md-6 col-md-offset-3">
                       <div class="form-group">
                            <input  [(ngModel)]="createUser.firstName" type="text" name="firstName" id="firstName" 
                        class="input-contact"  placeholder="First Name" required/>
                       </div>

                       <div class="form-group">
                        <input [(ngModel)]="createUser.lastName" type="text" name="lastName" id="lastName" 
                        class="input-contact"  placeholder="Last Name" required/>
                        </div>
                        <div class="form-group">
                        <input [(ngModel)]="createUser.username" type="username" name="username" id="username" 
                        class="input-contact"  placeholder="Username" required/>
                        </div>
                        <div class="form-group">
                        <input [(ngModel)]="createUser.password" type="password" name="password" id="password" 
                        class="input-contact"  placeholder="Password" required/>
                        </div>
                        <div class="form-group">
                        <input [(ngModel)]="createUser.emailAddress" type="email" name="emailAddress" id="emailAddress" 
                        class="input-contact"  placeholder="Email Address" required/>
                        </div>
                        
                        <div class="form-group">
                        <input [(ngModel)]="createUser.dateOfBirth" type="text" name="dateOfBirth" id="dateOfBirth" 
                        class="input-contact"  placeholder="Date Of Birth" required/>
                        </div>
                        <div class="form-group">
                        <select [(ngModel)]="createUser.gender" class="input-contact" id="gender" name="gender">
                                <option id="gender"value="undefined" disabled selected>Select Gender</option>
                                <option [value]="1">Male</option>
                                <option [value]="2">Female</option>
                            </select>
                            </div>

                        <select [(ngModel)]="createUser.skinColor" class="input-contact" id="skinColor" name="skinColor">
                            <option id="skinColor" value="undefined" selected disabled>Select Color</option>
                            <option [value]="1">Fair</option>
                            <option [value]="2">Not So Fair</option>
                            <option [value]="3">Not So Dark</option>
                            <option [value]="4">Ebony</option>
                        </select>
                        <hr>
                        <div class="text-center">
                            <button type="submit" [disabled]="!registerForm.valid" class="btn btn-default btn-lg">Register</button>
                         </div>
                      </div>
                      <p class="text-right">Already Registered?
                            <span>
                              <a (click)="goToLogin()">Login</a>
                            </span>
                          </p>
                    </form>
             
                </div>
              
            </div>
            
          </div>
         
      </div>
    </section>