
	<section id="section1" class="cd-section">
      <div class="parallax1">
        <div class="overlay">
            <div class="container">
              <div class="row">
               <div class="col-md-12">
                <div class="col-md-4">
                    <div class="box-img">
                        <a (click)="goToMen(categories[0].categoryID)">
                        <img src="../../../assets/images/1.jpg" alt="" />
                       
                             <div class="text-center">
                                 <h3 class="text-red"><b>Men</b></h3>
                             </div>
                             </a>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-img">
                        <a [routerLink]="['/women-world']">
                        <img src="../../../assets/images/2.jpg" alt="" />
                       
                             <div class="text-center">
                                 <h3 class="text-red"><b>Women</b></h3>
                             </div>
                             </a>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-img">
                        <a [routerLink]="['/kiddies-world']">
                        <img src="../../../assets/images/3.jpg" alt="" />
                       
                             <div class="text-center">
                                 <h3 class="text-red"><b>Kiddies</b></h3>
                             </div>
                             </a>
                    </div>
                 </div>
		      </div>
          </div>
        </div>
       </div>
      </div>
	</section><!-- cd-section -->

    <!--SECTION WORK-->

	<section id="section2" class="cd-section">
		<div class="container">
          <div class="row">
           <div class="col-md-12">
		    <div class="box-content">
		        <h1> WORK </h1>
               
                <!-- Category Filter -->
	                <dl class="group">
		                <dd>
			                <ul class="filter group albumFilter"> 
				                <li data-filter="*" class="cl-effect-11 current"><a data-hover="SHOWALL" href="#">SHOWALL</a></li> 
				                <li class="cl-effect-11" data-filter=".cat1"><a data-hover="MARKETING"  href="#">MARKETING</a></li> 
				                <li class="cl-effect-11" data-filter=".cat2"><a data-hover="BRANDING" href="#">BRANDING</a></li> 
				                <li class="cl-effect-11" data-filter=".cat3"><a data-hover="DESIGN" href="#">DESIGN</a></li> 
				                <li class="cl-effect-11" data-filter=".cat4"><a data-hover="PHOTOGRAPHY" href="#">PHOTOGRAPHY</a></li> 
			                </ul> 
		                </dd>
	                </dl>
                    <div class="portfolio albumContainer">
	                        <div class="cat3 col-md-4 item">
                             <div class="grid">
                                  <figure class="effect-oscar">
		                            <img src="../../../assets/images/portfolio/1.jpg" alt="" />
                                    <figcaption>
							            <p>Details images decent man. He used to clean porches with pleasure.</p>
                                        <a href="details.html" class="smooth-redirect"></a>
						            </figcaption>	
                                  </figure>
                              </div>
	                        </div>
	
	                        <div class="cat2 col-md-4 item">
                               <div class="grid">
                                  <figure class="effect-oscar">
		                            <a href="#"><img src="../../../assets/images/portfolio/2.jpg" alt="" /></a>
                                    <figcaption>
							            <p>Details video man. He used to clean porches with pleasure.</p>
                                        <a href="details_video.html" class="smooth-redirect"></a>
						            </figcaption>	
                                  </figure>
                              </div>
	                        </div>	

	                        <div class="cat1 col-md-4 item">
                               <div class="grid">
                                  <figure class="effect-oscar">
		                            <a href="#"><img src="../../../assets/images/portfolio/3.jpg" alt="" /></a>
                                    <figcaption>
							            <p>Details images decent man. He used to clean porches with pleasure.</p>
                                        <a href="details.html" class="smooth-redirect"></a>
						            </figcaption>	
                                  </figure>
                              </div>
	                        </div>
	                        
                            <div class="cat3 col-md-4 item">
                               <div class="grid">
                                  <figure class="effect-oscar">
		                            <a href="#"><img src="../../../assets/images/portfolio/4.jpg" alt="" /></a>
                                    <figcaption>
							            <p>Details video decent man. He used to clean porches with pleasure.</p>
                                        <a href="details_video.html" class="smooth-redirect"></a>
						            </figcaption>	
                                  </figure>
                              </div>
	                        </div>

                            <div class="cat4 col-md-4 item">
                               <div class="grid">
                                  <figure class="effect-oscar">
		                            <a href="#"><img src="../../../assets/images/portfolio/5.jpg" alt="" /></a>
                                    <figcaption>
							            <p>Details images decent man. He used to clean porches with pleasure.</p>
                                        <a href="details.html" class="smooth-redirect"></a>
						            </figcaption>	
                                  </figure>
                              </div>
	                        </div>

                            <div class="cat1 col-md-4 item">
                               <div class="grid">
                                  <figure class="effect-oscar">
		                            <a href="#"><img src="../../../assets/images/portfolio/6.jpg" alt="" /></a>
                                    <figcaption>
							            <p>Details video decent man. He used to clean porches with pleasure.</p>
                                        <a href="details_video.html" class="smooth-redirect"></a>
						            </figcaption>	
                                  </figure>
                              </div>
	                        </div>

                            <div class="cat4 col-md-4 item">
                               <div class="grid">
                                  <figure class="effect-oscar">
		                            <a href="#"><img src="../../../assets/images/portfolio/7.jpg" alt="" /></a>
                                    <figcaption>
							            <p>Details images decent man. He used to clean porches with pleasure.</p>
                                        <a href="details.html" class="smooth-redirect"></a>
						            </figcaption>	
                                  </figure>
                              </div>
	                        </div>

                            <div class="cat2 col-md-4 item">
                               <div class="grid">
                                  <figure class="effect-oscar">
		                            <a href="#"><img src="../../../assets/images/portfolio/8.jpg" alt="" /></a>
                                    <figcaption>
							            <p>Details video decent man. He used to clean porches with pleasure.</p>
                                        <a href="details_video.html" class="smooth-redirect"></a>
						            </figcaption>	
                                  </figure>
                              </div>
	                        </div>

                            <div class="cat3 col-md-4 item">
                               <div class="grid">
                                  <figure class="effect-oscar">
		                            <a href="#"><img src="../../../assets/images/portfolio/9.jpg" alt="" /></a>
                                    <figcaption>
							            <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
                                        <a href="details.html" class="smooth-redirect"></a>
						            </figcaption>	
                                  </figure>
                              </div>
	                        </div>
                      </div>
               </div><!--close box content-->
             </div>
		  </div>
      </div>

      <div class="parallax2">
        <div class="overlay-white">
            <div class="container">
              <div class="row">
               <div class="col-md-12">
               <div id="owl-demo" class="owl-carousel owl-theme">
 
                  <div class="item">
                            <div class="carousel-desc">
                                <span class=" icon-anchor"></span>
                                <h1>What people say</h1>
                                <p>Fusce risus metus, placerat in <span>consectetur</span> eu, porttitor a est sed sed dolor lorem cras adipiscing</p>
                                <p>A small <span>creative</span> team, trying to enrich the lives of others</p>
                                <p class="nm-name">- Brian Rood</p>
                        </div>
                    </div>
                    <div class="item">
                            <div class="carousel-desc">
                            <span class=" icon-anchor"></span>
                                <h1>What people say</h1>
                                <p>Fusce risus metus, placerat in <span>consectetur</span> eu, porttitor a est sed sed dolor lorem cras adipiscing</p>
                                <p>A small <span>creative</span> team, trying to enrich the lives of others</p>
                                <p class="nm-name">- Miki Rood</p>
                            </div>
                    </div>
                    <div class="item">
                        <div class="carousel-desc">
                        <span class=" icon-anchor"></span>
                            <h1>What people say</h1>
                            <p>Fusce risus metus, placerat in <span>consectetur</span> eu, porttitor a est sed sed dolor lorem cras adipiscing</p>
                                <p>A small <span>creative</span> team, trying to enrich the lives of others</p>
                                <p class="nm-name">- Robert Rood</p>
                        </div>
                    </div>
 
                </div>
		      </div>
          </div>
        </div>
       </div>
      </div>
	</section><!-- cd-section -->

    <!--SECTION EXPERIENCES-->

	<section id="section3" class="cd-section">
		<div class="container">
          <div class="row">
            <div class="col-md-12">
               <div class="box-content">
		        <h1>Experiences</h1>
                <div class="col-md-6">
                    <div class="box-text">
                            <h2>WHAT I KNOW</h2>
                            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                            Prae sent non sem eu mi malesuada viverra volutpat ut libero. Nullam a venenatis tellus. 
                            Nam fen convallis tristique. In imperdiet est sed aliquet imperdiet. 
                            </p>
                            <p class="slogan">" Creativity requires the courage to let go of certainties "</p>
                            <img class="signature" src="../../../assets/images/signature.jpg" alt="" />
                        </div>
                </div>
                <div class="col-md-6">
				    <div class="skills-area triggerAnimation animated" data-animate="fadeInLeft">
					
                        <div class="box-text">
                        <h2>MY Skills</h2>
					    <div class="skills-box">
							    <div class="skills-progress">
								    <p>Develope<span>87%</span></p>
								    <div class="meter nostrips develope">
									    <p style="width: 87%"></p>
								    </div>
								    <p>Design<span>95%</span></p>
								    <div class="meter nostrips design">
									    <p style="width: 95%"></p>
								    </div>
								    <p>Branding<span>98%</span></p>
								    <div class="meter nostrips branding">
									    <p style="width: 98%"></p>
								    </div>
								    <p>Web applications<span>65%</span></p>
								    <div class="meter nostrips web-applications">
									    <p style="width: 65%"></p>
								    </div>
							    </div>
						    </div>
                        </div>
				    </div>
			    </div>
              </div>
            </div>
		  </div>
          <div class="row">
               <div class="col-md-12">
                <div class="box-content experiences">
                   <div class="col-md-12 list-experiences">
                        <h2><i class="fa fa-briefcase"></i>Front-End Developer<span class="data">2013 - 2015</span></h2>
                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                Prae sent non sem eu mi malesuada viverra volutpat ut libero. Nullam a venenatis tellus. 
                                Nam fen convallis tristique. In imperdiet est sed aliquet imperdiet. </p>
                   </div>
                   <div class="col-md-12 list-experiences">
                        <h2><i class="fa fa-briefcase"></i>Web Developer<span class="data">2011 - 2013</span></h2>
                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                Prae sent non sem eu mi malesuada viverra volutpat ut libero. Nullam a venenatis tellus. 
                                Nam fen convallis tristique. In imperdiet est sed aliquet imperdiet. </p>
                   </div>
                   <div class="col-md-12 list-experiences">
                        <h2><i class="fa fa-briefcase"></i>Software Developer<span class="data">2008 - 2010</span></h2>
                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                Prae sent non sem eu mi malesuada viverra volutpat ut libero. Nullam a venenatis tellus. 
                                Nam fen convallis tristique. In imperdiet est sed aliquet imperdiet. </p>
                   </div>
                   <div class="col-md-12 list-experiences">
                        <h2><i class="fa fa-briefcase"></i>Software Developer<span class="data">2004 - 2008</span></h2>
                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                Prae sent non sem eu mi malesuada viverra volutpat ut libero. Nullam a venenatis tellus. 
                                Nam fen convallis tristique. In imperdiet est sed aliquet imperdiet. </p>
                   </div>
                 </div>
              </div>
         </div>
      </div>
	</section><!-- cd-section -->

    <section id="section_blog" class="cd-section">
		<div class="container">
          <div class="row">
           <div class="col-md-12">
                <div class="box-content blog">
                  <h1>Blog</h1>
                   <div id="owl-demo-blog" class="owl-carousel owl-theme owl-details">
                      <div class="item">
                         <img src="../../../assets/images/portfolio/5.jpg" alt="" />
                         <p class="details-title">Martin J.<a href="blog.html" class="itemPreview smooth-redirect"></a></p>
                         <p class="blog-desc">
                            Appropriately work prospective meta-services and client-centered relationships. 
                            Global miniMe html plus angularjs for .....
                         </p>
                         <p class="date-blog">September 14, 2014 / Design</p>
                      </div>
                      <div class="item">
                         <img src="../../../assets/images/portfolio/6.jpg" alt="" />
                         <p class="details-title">App Design <a href="blog.html" class="itemPreview smooth-redirect"></a></p>
                         <p class="blog-desc">
                            Appropriately work prospective meta-services and client-centered relationships. 
                            Global miniMe html plus angularjs for .....
                         </p>
                         <p class="date-blog">September 14, 2014 / Design</p>
                      </div>
                      <div class="item">
                         <img src="../../../assets/images/portfolio/7.jpg" alt="" />
                         <p class="details-title">Phone App <a href="blog.html" class="itemPreview smooth-redirect"></a></p>
                         <p class="blog-desc">
                            Appropriately work prospective meta-services and client-centered relationships. 
                            Global miniMe html plus angularjs for .....
                         </p>
                         <p class="date-blog">September 14, 2014 / Design</p>
                      </div>
                      <div class="item">
                         <img src="../../../assets/images/portfolio/8.jpg" alt="" />
                         <p class="details-title">Gravity <a href="blog.html" class="itemPreview smooth-redirect"></a></p>
                         <p class="blog-desc">
                            Appropriately work prospective meta-services and client-centered relationships. 
                            Global miniMe html plus angularjs for .....
                         </p>
                         <p class="date-blog">September 14, 2014 / Design</p>
                      </div>
                    </div>
               </div>
            </div>
		  </div>
      </div>
	</section><!-- cd-section -->

	<section id="section4" class="cd-section">
		<div class="container">
          <div class="row">
           <div class="col-md-12">
		    <h1>Contact</h1>
                <div class="box-content contact">
                    <div class="col-md-4 c-info"><p><i class="fa fa-phone"></i>+41 345 376 284</p></div>
                    <div class="col-md-4 c-info"><p><i class="fa fa fa-map-marker"></i>245 Road Broke Blvd, Ste K</p></div>
                    <div class="col-md-4 c-info"><p><i class="fa fa-envelope-o"></i>info@minime.com</p></div>
                    <form id="contact_form" class="form email-form" method="post" action="#" autocomplete="off">
                      <div class="col-md-6">
                        <input type="text" name="subject" id="subject" class="input-contact"  placeholder="Subject"/>
                        <input type="text" name="name" id="name" class="input-contact"  placeholder="Name"/>
                        <input type="email" name="email" class="input-contact"  id="email" placeholder="E-mail"/>
                        
                      </div>
                      <div class="col-md-6">
                        <textarea type="text" name="message" id="message" class="input-contact" placeholder="Message" cols="30" rows="7"></textarea>
                        <button type="submit" class="btn submit-contact"><i class="fa fa-envelope-o"></i>SUBMIT</button>
                        <p class="success">Your message has been sent successfully.</p>
                        <p class="error">E-mail must be valid and message must be longer than 20 characters.</p>
                      </div>
                    </form>
                </div>
            </div>
		  </div>
      </div>
	</section><!-- cd-section -->

    <section id="section5" class="cd-section">
    <!--Google Maps-->
            <div id="map_container">
                
			    <div id="map_canvas"></div>
                <div class="cover-map">
                  <div class="content-map"><img src="../../../assets/images/map.png" alt="" /></div>
                  <div class="mm-open">Open the map <i class="fa fa-angle-down"></i></div>
                  <div class="mm-close">Close the map <i class="fa fa-angle-up"></i></div>
                </div>
		    </div>
    </section>