<section id="section1" class="cd-section">
  <div class="parallax1">
    <div class="overlay">
        <div class="container">
          <div class="row">
           <div class="col-md-12">
            <div class="col-md-3">
                <div class="box-img">
                    <a (click)="goToFair()">
                    <img src="../../../assets/images/1.jpg" alt="" />
                   
                         <div class="text-center">
                             <h3 class="text-red"><i>Fair</i></h3>
                         </div>
                         </a>
                </div>
             </div>
             <div class="col-md-3">
                <div class="box-img">
                    <a [routerLink]="['not-so-fair']">
                    <img src="../../../assets/images/2.jpg" alt="" />
                   
                         <div class="text-center">
                             <h3 class="text-red"><i>Not So Fair</i></h3>
                         </div>
                         </a>
                </div>
             </div>
             <div class="col-md-3">
                <div class="box-img">
                    <a [routerLink]="['not-so-dark']">
                    <img src="../../../assets/images/3.jpg" alt="" />
                   
                         <div class="text-center">
                             <h3 class="text-red"><i>Not So Dark</i></h3>
                         </div>
                         </a>
                </div>
             </div>

             <div class="col-md-3">
              <div class="box-img">
                  <a [routerLink]="['ebony']">
                  <img src="../../../assets/images/3.jpg" alt="" />
                 
                       <div class="text-center">
                           <h3 class="text-red"><i>I am Ebony</i></h3>
                       </div>
                       </a>
              </div>
           </div>
    </div>
      </div>
      </div>
    </div>
   </div>
</section><!-- cd-section -->

